ul {
  list-style-type: none;
  margin: 2px;
  padding: 2px;
  overflow: hidden;
}

li {
  float: left;
}

a:hover {
  text-decoration: none;
}

li a {
  display: block;
  padding: 30px;
  background-color: #dddddd;
}
